.paginationContainer {
    text-align: center;
}

.paginationContainer .paginationText {
    font-size: 25px;
    line-height: 25px;
    margin-left: 10px;
    margin-right: 10px;
    font-weight: bold;
    display: inline-block;
}
